<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Web Booking</title>
        <meta name="description" content="The project for IU5 course 'Web App Dev'">
        <meta charset="utf-8">
        <link href="/static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <span class="site-name">Web Booking</span>
        </header>
        <div class="wrapper">
            <form class="sign">
                <fieldset class="account-info">
                    <div class="sign-legend">Авторизация на портале</div>
                    <label>
                      <!  Имя пользователя !>
                        <input type="text" name="username" placeholder="Имя пользователя">
                    </label>
                    <label>
                       <! Пароль !>
                        <input type="password" name="password" placeholder="Пароль">
                    </label>
                    <input class="btn" type="submit" name="submit" value="Войти">
                    <input class="btn" type="submit" name="submit" value="Зарегистрироваться">
                </fieldset>
            </form>
        </div>
    </body>
</html>