<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Web Booking</title>
        <meta name="description" content="The project for IU5 course 'Web App Dev'">
        <meta charset="utf-8">
        <link href="../static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="site-name">Web Booking</div>
                <div class="user-menu">
                    <a href="auth.html"><img class="user-avatar" src="../static/img/avatar_new.png" alt="just user avatar"></a>
                        <ul>
                            <li><a>Профиль</a></li>
                            <li><a>Мои Заказы</a></li>
                            <li><a>Выход</a></li>
                        </ul>
                </div>
        </header>
        <div class="wrapper">
            <div class="add-container">
                <a href="objects_list.html"><img class="add-img" src="../static/img/back_button.jpg" alt="back button"></a>
            </div>
            <div class="big-object-container">
                <img class="big-object-img" src="../static/img/s7_logo.png" alt="image for object">
                <div class="big-object-info">
                    <div class="big-object-row">
                        <div class="flight flight-number">SU6867</div>
                        <div class="flight flight-way">
                            <div class="flight depart">
                                <div class="station">DME</div>
                                <div class="flight-time">14:00</div>
                            </div>
                            <div class="stops">
                            <span class="flight-duration">6 часов</span>
                            <ul class="stop-line">
                                <li class="stop-line"></li>
                            </ul>
                            </div>
                            <div class="flight arrive">
                                <div class="station">GOE</div>
                                <div class="flight-time">20:00</div>
                            </div>
                        </div>
                    </div>
                    <div class="big-object-row">
                        <div class="flight flight-airlines">Авиакомпания</div>
                        <div class="flight flight-airplane">Самолёт</div>
                        <div class="flight flight-price">Стоимость</div>
                    </div>
                    <div class="big-object-row">
                        <div class="flight flight-info-form flight-airlines">
                            <div class="small-row">Siberia</div>
                            <div class="small-row" id="#airlines-description">Siberia</div>
                        </div>
                        <div class="flight flight-info-form flight-airplane">
                            <div class="small-row">Boeing 777-200</div>
                            <div class="small-row" id="#airplane-description">safassaafsfsfsfassaf afsasfas fasfa</div>
                        </div>
                        <div class="flight flight-info-form flight-price"><div class="content">999999 ₽</div></div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
             <a href="objects_list.html"><img class="buy-img" src="../static/img/buy.png" alt="back button"></a>
        </footer>
    </body>
</html>


