<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Web Booking</title>
        <meta name="description" content="The project for IU5 course 'Web App Dev'">
        <meta charset="utf-8">
        <link href="../static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="site-name">Web Booking</div>
                <div class="user-menu">
                    <a href="auth.html"><img class="user-avatar" src="../static/img/avatar_new.png" alt="just user avatar"></a>
                        <ul>
                            <li><a>Профиль</a></li>
                            <li><a>Мои Заказы</a></li>
                            <li><a>Выход</a></li>
                        </ul>
                </div>
        </header>
        <div class="wrapper">
            <div class="add-container"><a href="add_object.html"><img class="add-img" src="../static/img/PlusLogoWebBooking.jpg" alt="image for add new object (plus)"></a></div>
            <div class="object-list-container">
                <div class="object-container">
                    <a href="object.html">
                        <img class="object-img" src="../static/img/photo.jpg" alt="image for object"><div class="object-info">Hello HEEIEdghdfhdfgdfhdfhdfhdfdddddddddddddddddddUHWAF</div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>