{% extends 'layout.html' %}
{% block title %}Flight list{% endblock %}
{% block body %}
    {% load staticfiles %}
    <div class="add-container"><a href="add_object.html"><img class="add-img" src="{% static "img/PlusLogoWebBooking2.jpg" %}" alt="image for add new object (plus)"></a></div>
    <div class="object-list-container">
    {% for flight in flight_list %}
        <div class="object-container">
            <a href="{% url 'flight_url' flight.id %}">
                <img class="object-img" src="{% static "img/s7_logo.png" %}" alt="image for object"><div class="object-info">{{ flight.info }}</div>
            </a>
        </div>
        {% empty %}
    {% endfor %}
    </div>
{% endblock %}
{% block footer %}
    <ul class="pagination">
         <li><a href="#">1</a></li>
         <li><a class="active" href="#">2</a></li>
         <li><a href="#">3</a></li>
    </ul>
{% endblock %}


